Camozzi.Model/Service References/DataService/DataController.DTO_Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataController.DTO_Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataController.DTO_Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="CreatorId" type="xs:int" />
      <xs:element minOccurs="0" name="DeptId" type="xs:int" />
      <xs:element minOccurs="0" name="Depts" nillable="true" type="tns:Dept" />
      <xs:element minOccurs="0" name="Finish" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="ManagerId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Worker" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="AllProjectsRow" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="AllReclamationRow" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept" nillable="true" type="tns:Dept" />
      <xs:element minOccurs="0" name="DeptId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelfProjectsRow" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="SelfReclamationRow" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowCommment" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowCreateAll" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowCreateSelf" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowReclamation" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllowRow" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Dept">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dept" nillable="true" type="tns:Dept" />
  <xs:complexType name="Reclamation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Act" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="CreatorId" type="xs:int" />
      <xs:element minOccurs="0" name="Finish" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="ManagerId" type="xs:int" />
      <xs:element minOccurs="0" name="Nomenclature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Production" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReclamationAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Send" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Solution" type="xs:boolean" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Worker" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reclamation" nillable="true" type="tns:Reclamation" />
  <xs:complexType name="ArrayOfReclamation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reclamation" nillable="true" type="tns:Reclamation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReclamation" nillable="true" type="tns:ArrayOfReclamation" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>